# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# IDE / editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secret keys
*.env
keys.py

# Misc
*.pptx
*.pdf
